body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000000;
}
header {
    padding: 20px 0;
}

header .row,
footer .row {
    display: flex;
    align-items: center;
}

header h1 {
    font-weight: 700;
    margin: 0;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header p {
    padding: 0 20px;
    margin: 0;
}

.jumbotron {
    display: flex;
    align-items: center;
    background-color: #5b23ba;
    background-size: cover;
    color: #5b23ba;
    height: 500px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    color: #000000
}

.jumbotron h3 {
    margin: 0 0 20px;
    color: #000000;
}

.btn.btn-primary {
    border-radius: 2px;
    border: 0px;
    color: #5b23ba;
    text-shadow: none;
    background-color: #9b90ad;
}

.btn.btn-primary:hover {
    color: #ffffff;
    background-color: #fbd1d5;
}