body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000000;
    background-color: #2f3030;
    margin: 0;
    padding: 0;
    height: 100vh;
}
header {
    padding: 20px 0;
    background-color: #505252;
}

header .row,
footer .row {
    display: flex;
    align-items: center;
}

header h1 {
    font-weight: 700;
    margin: 0;
    padding: 15px 0 0 0;
    float: left;
}

header img {
    float: left;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header p {
    padding: 0 20px;
    margin: 0;
}

header a {
    color: #000000;
    font-size: 2vh;
    font-weight: bold;
    text-decoration: none;
}
header a:visited {
    color: #000000;
    font-size: 2vh;
    text-decoration: none;
}
header a:hover {
    color: #000000;
    font-size: 2vh;
    text-decoration: none;
}
header a:active {
    color: #000000;
    font-size: 2vh;
    text-decoration: none;
}
header p:hover {
    background-color: #3c3d3d;
}

.jumbotron {
    display: flex;
    align-items: center;
    background-color: #5b23ba;
    background-image: url("https://live.staticflickr.com/65535/52259221868_594d9c744d_b.jpg");
    /*background-image: url("Images/SpaceBackground.png");*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*color: #5b23ba;*/
    color:#000000;
    height: 300px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
}

/*#jcont {
    border-style: solid;
    border-width: 10px;
    border-color: goldenrod;
}*/
.jumbotron h2 {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    color: #000000
}

.jumbotron h3 {
    margin: 0 0 20px;
    color: #000000;
}

section .row img {
    margin: 0 0 30px;
    width: 100%;
}

.btn.btn-primary {
    border-radius: 2px;
    border: 0px;
    color: #5b23ba;
    text-shadow: none;
    background-color: #9b90ad;
}

.btn.btn-primary:hover {
    color: #ffffff;
    background-color: #fbd1d5;
}

footer {
    margin: 20px auto 0 auto;
    font-size: 12px;
    padding: 30px 0;
    border-style: solid;
    border-color: #000000;
    background-size: cover;
    width: 100%;
    background-color: #505252;
    
}